:root {
    --original-dark: #221C1E;
    --primary: #F46523;
    --secondary: #000000;
    --dark-text: #262737;
    --light: #F5F5F5;
}

body {
    font-family: 'Rubik', sans-serif;
}

/* Mobile nav spacing */
#main {
    padding-top: 96px;
}

/* General */
.page-intro {
    padding: 20px 0;
}
.page-intro h1 {
    color: var(--primary);
}
.page-intro p {
    font-size: 1.2rem;
}


/* Desktop Navbar */
nav.navbar-desktop {
    background-color: var(--primary);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
nav.navbar-desktop div a {
    color: white;
}
nav.navbar-desktop a:hover {
    transform: scale(1.1);
}
/* Logo Display */
div.contact-logo {
    margin-top: 39px;
}
div.contact-logo div {
    height: 170px;
}
div.contact-logo .nav-contact-detail {
    font-size: 19px;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;
}
.contact-logo .call {
    right: 35px;
}
.contact-logo .email {
    left: 35px;
}
.contact-logo .nav-contact-detail span {
    color: var(--primary);
}
.contact-logo .nav-contact-detail a {
    color: var(--dark-text);
}
.contact-logo .nav-contact-detail a:hover {
    text-decoration: none;
}
.contact-logo img {
    height: 170px; width: auto;
    z-index: 2;
    position: relative;
    left: -95px;
}

/* Tablet/Mobile Navbar */
nav {
    background-color: white;
}
.navbar-mobile {
    border-bottom: 10px solid var(--primary);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
nav .navbar-brand img {
    height: 60px;
    width: auto;
}
#nav-icon:focus {
    outline: none;
    box-shadow: none;
}
nav .navbar-nav a {
    color: var(--dark-text) !important;
    margin: 2.5px 0;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
}
nav .navbar-nav a:hover {
    transform: scale(1.1);
}
nav .navbar-nav a:nth-last-child(1) {
    margin-bottom: 15px;
}
/* Animation */
#nav-icon {
    display: inline-block;
    cursor: pointer;
    border: none;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 10px;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Homepage */

/* Banner */
#main .banner-section {
    /* margin-top: 96px; */
}
#main .banner-section .banner-img {
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 270px;
    width: 100%;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
.banner-section .banner-img .slogan h2 {
    color: var(--primary);
    font-size: 59px;
    line-height: 59px;
    margin: 0;
    position: absolute;
    padding: 20px;
    left: 0;
    right: 35%;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: 700;
    text-shadow: 2px 2px var(--secondary);
}

/* Card */
.homepage-cards .card {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    border-radius: 0px 0px 7.5px 7.5px;
    margin-bottom: 20px;
}
.homepage-cards .card .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}
.homepage-cards .card .card-body {
    position: relative;
}
.homepage-cards .card .card-body .card-title {
    color: var(--primary);
}
.homepage-cards .card .card-body .card-text {
    margin-bottom: 2rem;
}
.homepage-cards .card .card-body a {
    background-color: var(--primary);
    border: none;
    color: white;
    position: absolute;
    bottom: 15px;
}
.homepage-cards .card .card-body a:focus {
    outline: none !important;
    box-shadow: none;
}




/* Our Team */
.our-team-cards .card {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    border-radius: 0px 0px 7.5px 7.5px;
}
.our-team-cards .card .card-img-top {
    height: 320px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}
.our-team-cards .card .card-body {
    padding: 15px 20px 20px 20px;
}
.our-team-cards .card .card-body .card-title {
    color: var(--primary);
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

/* Services */
.service-details ul {
    /* list-style-type: none; */
    margin-bottom: 1.5rem;
    padding-left: 20px;
    font-size: 15px;
}
.services-images {
    height: 120px;
    width: 100%;
    object-fit: cover;
    /* border: 5px solid var(--primary); */
}

/* Contact Us */
#main form {
    color: #000000;
}
#main form input {
    /* border-radius: 0px; */
    /* border: 1px solid var(--primary); */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#main form input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#main form textarea {
    /* border-radius: 0px; */
    /* border: 1px solid var(--primary); */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#main form textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#main form button {
    background: var(--primary);
    border-radius: 0px;
    border: none;
    color: white;
}

/* Footer */
footer {
    margin-top: 30px;
    text-align: center;
    padding: 30px 0 10px 0;
    border-top: 5px solid var(--primary);
}
footer img {
    height: 75px;
    width: auto;
    margin-bottom: 25px;
}
footer p {
    padding: 0;
    font-size: 15px;
}
footer a {
    color: var(--dark-text);
}
footer a:focus, footer a:hover {
    color: var(--dark-text);
    text-decoration: none;
}